<html>
    <HEAD>
		<TITLE>Portal</TITLE>
		<STYLE>
                    body {
                         text-align: Center;
                         font-size: Large;
                         }
                    a {
                        text-align: Center;
                        vertical-align: bottom;
                        }

                 </STYLE>
	</HEAD>
<body>
    <H3>Receptionist Portal</H3>

    <a href="http://127.0.0.1:8000/Receptionist/Edit Patient"><button>Edit Patient</button></a>
    
    <a href="http://127.0.0.1:8000/Receptionist/Add Patient"><button>Add Patient</button></a>

    <a href="http://127.0.0.1:8000/Receptionist/Set Appointment"><button>Set Appointment</button></a>

    <a href="http://127.0.0.1:8000/">Sign out</a>

</body>

</html>